<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	{% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
	<link rel="stylesheet" media="screen" href="{% static 'management/style.css' %}"/>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js'></script>
	<link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">
	<title>Notes</title>
	<style>
		a{
           color: inherit;
       }
       a:hover{
       		color: black;
           text-decoration: none;
       }
       .red{
       	background-color: green;
       }

       .zoom {
            display:inline-block;
            position: relative;
        }        
    </style>
   <script type="text/javascript">
   {% block script %}
   {% endblock %}
</script>
</head>
<body id="bgd">

<div id="mainNav" style="position: fixed; height: 12%; width: 100%; z-index: 1; box-shadow: 0 8px 6px -6px #888888;" >
	<div id="logoAndBar" style="height: 66.67%; width: 100%; background: #e5e4e8;>" >
		<a href="{% url 'brmadmin:home' %}"><img src="{% static '/management/images/logo.png' %}" style="margin-left: 0.2%; height: 100%; width: 18%;"></a>
		<div style="position: relative; float: right; height: 100%; width: 80%;">
			{% if request.user.is_authenticated %}
				<a href="{% url 'brmadmin:signOut' %}">
					<div style="font-family: 'Space Mono', monospace; float: right; padding: 1.5%; padding-right: 4%; padding-left: 2%;" >
						LogOut
					</div>	
				</a>
				<a href="{% url 'brmadmin:update' %}">
					<div style="font-family: 'Space Mono', monospace; float: right; padding: 1.5%; padding-right: 4%; padding-left: 2%;" >
						Update Profile
					</div>
				</a>	
				<div style="float: right; height: 100%; width:10%; padding-top: 1%; text-align: center;">
					<span class="glyphicon glyphicon-user"></span>
					<strong>{{request.user.username}}</strong>
					<br>
					<span class="glyphicon glyphicon-info-sign"></span>
					<strong>{{request.user.userprofile.department}} - {{request.user.userprofile.year}}</strong>
				</div>
				<div style="height: 100%; float: right; width: 5.2%; background: grey; overflow: hidden; text-align: center;">
					<img src="{{request.user.userprofile.picture.url}}" style=" float: left; width: auto; height: 100%;">	
				</div>
			{% else %}
				<a href="{% url 'brmadmin:register' %}">
					<div style="font-family: 'Space Mono', monospace; float: right; padding: 1.5%; padding-right: 4%; padding-left: 2%;" >
						Register
					</div>	
				</a>
			{% endif %}

		</div>
	</div>
	{% if request.user.userprofile.isAdmin and request.user.is_superuser %}
		<div style="height: 33.33%; width: 100%; padding-top: 0.3%; background: white; text-align: center;">
			<center>
			{%block addLink%}
			{%endblock%}
			<strong style="padding-right: 5%; padding-left: 5%;"><a href="{% url 'brmadmin:userVerification' %}">Verify Users</a></strong>
			<strong><a href="{% url 'brmadmin:userBlock' %}">Block Users</a></strong>
			</center>
		</div>
	{% else %}

	{% endif %}
	</div>
</div>

<br><br><br><br><br><br><br><br>
{% if request.user.is_authenticated %}
	{% block body %}
	{% endblock %}
{% else %}
	{% include 'management/signIn.html' %}
{% endif %}


</body>
</html>