{% extends 'management/base.html' %}



{% block addLink %}
	<strong style="padding: 10px;"><a href="{% url 'brmadmin:addChapter' subject_id %}">Add Chapter</a></strong>
{% endblock %}


{% block body %}
	
{% load staticfiles %}

{% if chapters %}
	<div style="height: 80%; width: 100%;">
	{% for i in chapters %}
		<a href="{% url 'brmadmin:photos' i.subject.notes.id i.subject.id i.id%}">
		<div class="placard" style="height: 23%; width: 21%; position: relative; left: 8%;">
		<center><img src="{% static 'management/images/folder.png' %}" style="height: 70%; width: 84%; padding: 15px;">
		<br>
		<h3>
		{{ i.chapterName }}
		</h3>
		{% if request.user.userprofile.isAdmin %}
		<form action="{% url 'brmadmin:deleteChapter' i.subject.id i.id%}" method="post" style="display: inline;">
	        {% csrf_token %}
	        <input type="hidden" name="album_id" value="{{ album.id }}"/>
	        <button type="submit" class="btn btn-default btn-sm">
	        <span class="glyphicon glyphicon-trash"></span>
	        </button>
        </form>
        {% endif %}
        <form action="{% url 'brmadmin:getChapter' i.id%}" method="post" style="display: inline;">
	        {% csrf_token %}
	        <button type="submit" class="btn btn-default btn-sm">
	        <span class="glyphicon glyphicon-download"></span>
	        </button>
        </form>
		</center>
		</div>
		</a>
	{% endfor %}
{% else %}
	<center><h3> Sorry , no notes! </h3></center>
{% endif %}

{% endblock %}