{% extends 'management/base.html' %}


{%block addLink%}
	<strong><a href="#" style="background: #242526; color: #efefef; padding: 0.48%;">Add Subject</a></strong>	
{%endblock%}

{% block body %}
 {% if request.user.userprofile.isAdmin %}
	<center>
	<div class="container-fluid" style="position: relative; height: 50%; width: 30%;">
	<div class="row">
		<div class="col-sm-12 col-md-7">
			<div class="panel panel-default">
				<div class="panel-body" style="box-shadow: 4px 4px 10px #888888; position: fixed; top: 14%; left: 34%; height: 70%; background: white; width: 30%;">
					<h3>Add Subject</h3>
					<br>
					<form id="update_user_form" method="POST" action="{% url 'brmadmin:addSubject' %}" enctype="multipart/form-data">
						{% csrf_token %}
						<br>
						{% include 'management/addSubjectform-template.html' %}
						 	<input type="submit" name = "Sign up" value = "Submit" style="background: #047de8; color: white; height: 40px; width: 80px; border: 0px solid; position : fixed; top: 68%; left: 46%;" >
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	</center>
{% else %}
	<center>
<h2 style="color: red;">You are not authorised</h2>
</center>
{% endif %}
{% endblock %}