{% extends 'management/base.html' %}

{%block script%}  

$(document).ready(function() {
	var c = 0;
    
	var mainLoad = function(){
	  c = 0;
 	  loc = $(this).find('img').prop("src"),idno = $(this).find('img').prop("id");
      var res = loc.split("/");
      var imageloc = "/" +  res[3] + "/chapter_images/" + res[5];
      $('#disp').css({'visibility':'visible',});
      $('#disp img').prop("src",imageloc);
      $('#disp a').prop("href",imageloc);
      var a = parseInt(idno, 10);
	  idnext = (a+1).toString();
   	  idprev = (a-1).toString(); 
   	  loc_next = $('#'+idnext).prop("src");
   	  loc_prev = $('#'+idprev).prop("src");
   	  if(loc_prev!=null){
		$("#prev").css('visibility','visible');
		}
		else{
		$("#prev").css('visibility','hidden');
		}
		if(loc_next!=null){
		$("#next").css('visibility','visible');
		}
		else{
		$("#next").css('visibility','hidden');
		}
    }

	 $("div[id='ff']").not("form").click(mainLoad);
   

	 var nextPic = function(){
   		<!-- var cur = $(this).parent().find("img").prop("src"); -->
   		c = 0;
   		var a = parseInt(idno, 10);
   		idno = (a+1).toString();
   		idnext = (a+2).toString();
   		idprev = (a).toString();
   		loc = $('#'+idno).prop("src");
   		var res = loc.split("/");
        var imageloc = "/" +  res[3] + "/chapter_images/" + res[5];
   		loc_next = $('#'+idnext).prop("src");
   		loc_prev = $('#'+idprev).prop("src");
   		$('#disp img').prop("src",imageloc);
   		$('#disp a').prop("href",imageloc);
   		if(loc_next == null){
		  $(this).css('visibility','hidden');
		}
		if(loc_prev!=null){
		$("#prev").css('visibility','visible');
		}
		$("#zoomable").css({'height' : '620px' , "width":"auto"})
		$("#zoomable").parent().css({'overflow':"hidden" , "height" : "100%"})
	}

   $("#next").click(nextPic);



   var prevPic = function(){
   		c = 0;
   		var a = parseInt(idno, 10);
   		idno = (a-1).toString();
   		idprev = (a-2).toString();
   		idnext = a.toString();
   		loc = $('#'+idno).prop("src");
   		var res = loc.split("/");
        var imageloc = "/" +  res[3] + "/chapter_images/" + res[5];
   		loc_prev = $('#'+idprev).prop("src");
   		loc_next = $('#'+idnext).prop("src")
   		$('#disp img').prop("src",imageloc);
   		$('#disp a').prop("href",imageloc);
   		if(loc_prev == null){
		  $(this).css('visibility','hidden');
		}
		if(loc_next!=null){
		$("#next").css('visibility','visible');
		}
		$("#zoomable").css({'height' : '620px' , "width":"auto"})
		$("#zoomable").parent().css({'overflow':"hidden" , "height" : "100%"})

	}

	$("#prev").click(prevPic);


	var close = function(){
     $('#disp').css({'visibility':'hidden'});
     $('#next').css({'visibility':'hidden'});
     $('#prev').css({'visibility':'hidden'});
    }

	$("#cross").click(close);
	
	zoom = [150 , 200 , 250 , 300 , 350, 400];
	$(document).keydown(function(e){
	    if (e.keyCode == 37 ) {
	       if(loc_prev!=null) 
	        {
	    	   prevPic();
	    	   if(loc_prev==null)
	 		    {
	    			$("#prev").css('visibility','hidden');
	       	    }
	        }
	    }
	    else if(e.keyCode == 39){
	    	if(loc_next!=null)
	   		{
	    		nextPic();
	    		if(loc_next==null)
	    		{
	    			$("#next").css('visibility','hidden');
	    		}
	   		}
	    }
	    else if(e.keyCode == 27){
	    	close();
	    }
	    else if(e.keyCode == 38){
      		if(c<=4)
      		{
      			c = c +1 ;
      			$("#zoomable").css({'height' : zoom[c] + "%","width":"auto"})
      			$("#zoomable").parent().css({'overflow':"scroll" , "height" : "80%"})
      		}
      }
      else if(e.keyCode == 40){
      		if(c>0)
      		{
      			c = c-1;
      			$("#zoomable").css({'height' : zoom[c] + "%","width":"auto"})
      			$("#zoomable").parent().css({'overflow':"scroll" , "height" : "80%"})
      		}
      		else if(c==0)
      		{
      			$("#zoomable").css({'height' : '620px' , "width":"auto"})
      			$("#zoomable").parent().css({'overflow':"hidden" , "height" : "100%"})
      		}
      }
	});

});

$(document).ready(function() {
   $("#downloadButton").hover(function(){
      $(this).css('box-shadow','0 0 10px #888888');
    },function(){
    $(this).css('box-shadow','inherit');
    });
});




{%endblock%}

{% block adminPanel %}
	{% if request.user.userprofile.isAdmin %}
		<div id="adminPanel" style="background: white; height: 55%; width: 16%; z-index: 0; position: fixed; top: 23.8%; right: 6%; box-shadow: 4px 4px 10px #888888;">
		<br>
		<center>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:addImages' i.subject.notes.id i.subject.id i.id %}">Add Images</a></strong>
		<br><br>
		<strong><a href="{% url 'brmadmin:userVerification' %}">Verify Users</a></strong>
		<br><br>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:userBlock' %}">Block Users</a></strong>
		</center>
		<div style="background: #e5e5e4; height: 60%; width: 80%; padding: 2%; margin: 10%; overflow-y: scroll;">
			{% for i in usersList %}
			{% if i.userprofile.verified is False %}
			<h4 style="font-size: 10px;">
				{% if i.userprofile.department == request.user.userprofile.department and i.userprofile.year == request.user.userprofile.year %}
				{{i.username}}
				<form action="{% url 'brmadmin:verify' i.id %}" style="display: inline; float: right;">
					<input type="checkbox">
				</form>
			</h4>
				{% endif %}
			{%endif%}
			{% endfor %}
		</div>
		</div>
	{% else %}
	{% endif %}

{% endblock %}	
{% block body %}
	
{% load staticfiles %}

{% if photos %}
	{% if request.user.userprofile.isAdmin %}
	<div style="height: 80%; width: 72%; background: white; box-shadow: 4px 4px 10px #888888; margin-left: 2.5%; border-radius: 20px; overflow: hidden;   padding-top: 4%; padding-bottom: 10%;">
	{% else %}
	<div style="height: 80%; width: 90%; background: white; box-shadow: 4px 4px 10px #888888; margin-left: 4%;  border-radius: 20px; overflow: hidden;	padding-top: 2%; text-align: left;">
	{% endif %}
	<div style=" height: 100%; width: 80%; position: relative; left: 16%; overflow: hidden;">
	{% for c in photos %}
		{% if request.user.userprofile.isAdmin %}
		<div style="height:160px; width:20%; position: relative; display: inline-block; overflow: hidden; background: white; text-align: center;" id="ff">
		{% else %}
		<div style="height:200px; width:20%; position: relative; display: inline-block; overflow: hidden; background: white; text-align: center;" id="ff">
		{% endif %}
			<img src="{{c.picThumbnail.url}}" style="height: 100%; width: auto; overflow: hidden;" id="{{forloop.counter}}">
		{% if request.user.userprofile.isAdmin %}
			<form id="formDelete" action="{% url 'brmadmin:deleteImages' c.chapter.id c.id %}" method="post" style="position: relative; top: 0%; height: 100%; width: 100%;">
		        {% csrf_token %}
		        <button type="submit" class="btn btn-danger btn-sm" style="position: relative; top: -100%; left: 38%;"> 
		        <span class="glyphicon glyphicon-trash"></span>
		        </button>
	        </form>
        {% endif %}
		</div>
	{% endfor %}
	</div>
	</div>
{% else %}
	<center><h3> Sorry , no notes! </h3></center>
{% endif %}
	<div id="disp" style="position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background: black;  z-index: 1; visibility: hidden;">
		<div style="height: 10%; width: 100%; background: linear-gradient(#888888, black); position: fixed;top: 0px; left: 0px;">
			<p style="font-family: 'Ek Mukta', sans-serif; color: white; position: fixed; top: 2%; padding-left: 1%; font-size: 30px;"> Image Display</p>
			<div id="downloadButton" style="position: fixed; top: 2%; left: 46%; height: 6.2%; width: 11.3%; z-index: 100;">
				<a href="" style="color: white; font-family: 'Ek Mukta', sans-serif; position: fixed; top: 3%; left: 47%; font-size: 23px;" download>Download <span class="glyphicon glyphicon-download" style="color: white;"></span></a>
			</div>
		</div>
		<span id="cross" class="glyphicon glyphicon-remove" style="position:fixed; top: 3.5%; right: 0.5%; color: white; font-size: 150%;"> </span>
		<span id="prev" class="glyphicon glyphicon-chevron-left" style="position:fixed; font-size: 100px; color: white; top: 35%;" ></span>
		<div style="width: 100%; height: 100%; padding-top: 8%; z-index: 2; text-align: center; position: relative; z-index: -1	;" id="pics">
				<div style="position: fixed; background: black; overflow: hidden; height: 620px; width: 83.2%; left: 8.4%;">
					<img src="" style="height: 100%; width: auto; " id="zoomable">
				</div>
		</div>
		<span id="next" class="glyphicon glyphicon-chevron-right" style="position:fixed; z-index: 2;  color: white; font-size: 100px; top: 35%; right: 0%;"></span>
	</div>

{% endblock %}