{% extends 'management/base.html' %}



{% block adminPanel %}
	{% if request.user.userprofile.isAdmin %}
		<div id="adminPanel" style="background: white; height: 55%; width: 16%; z-index: 0; position: fixed; top: 23.8%; right: 6%; box-shadow: 4px 4px 10px #888888;">
		<br>
		<center>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:addImages' i.subject.notes.id i.subject.id i.id %}">Add Images</a></strong>
		<br><br>
		<strong><a href="{% url 'brmadmin:userVerification' %}">Verify Users</a></strong>
		<br><br>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:userBlock' %}">Block Users</a></strong>
		</center>
		<div style="background: #e5e5e4; height: 60%; width: 80%; padding: 2%; margin: 10%; overflow-y: scroll;">
			{% for i in usersList %}
			{% if i.userprofile.verified is False %}
			<h4 style="font-size: 10px;">
				{% if i.userprofile.department == request.user.userprofile.department and i.userprofile.year == request.user.userprofile.year %}
				{{i.username}}
				<form action="{% url 'brmadmin:verify' i.id %}" style="display: inline; float: right;">
					<input type="checkbox">
				</form>
			</h4>
				{% endif %}
			{%endif%}
			{% endfor %}
		</div>
		</div>
	{% else %}
	{% endif %}

{% endblock %}
{% block body %}
	
{% load staticfiles %}

{% if photos %}
	{% if request.user.userprofile.isAdmin %}
	<div style="height: 80%; width: 72%;">
	{% else %}
	<div style="height: 80%; width: 100%;">
	{% endif %}
	{% for c in photos %}
		<a href="#">
		{% if request.user.userprofile.isAdmin %}
		<div class="placard" style="height: 32%; width: 30%; position: relative; left: 8%;">
		{% else %}
		<div class="placard" style="height: 23%; width: 21%; position: relative; left: 8%;">
		{% endif %}
		<h3>
		<center>
		<br>
		<img src="{{c.picture.url}}" style="height: 250px; width: auto;">
		</center>
		{% if request.user.userprofile.isAdmin %}
		<form action="{% url 'brmadmin:deleteImages' c.chapter.id c.id %}" method="post" style="display: inline;">
	        {% csrf_token %}
	        <input type="hidden" name="album_id"}}"/>
	        <button type="submit" class="btn btn-default btn-sm">
	        <span class="glyphicon glyphicon-trash"></span>
	        </button>
        </form>
        <form action="#" method="post" style="display: inline;">
	        {% csrf_token %}
	        <button type="submit" class="btn btn-default btn-sm">
	        <span class="glyphicon glyphicon-download"></span>
	        </button>
        </form>
        {% endif %}
		</h3>
		</div>
		</a>
	{% endfor %}
{% else %}
	<center><h3> Sorry , no notes! </h3></center>
{% endif %}

{% endblock %}