{% extends 'management/base.html' %}

{%block script%}
function show(){
	document.getElementById("disp").style.visibility="visible";
}
function hide(){
	document.getElementById("disp").style.visibility="hidden";
}

{%endblock%}

{% block adminPanel %}
	{% if request.user.userprofile.isAdmin %}
		<div id="adminPanel" style="background: white; height: 55%; width: 16%; z-index: 0; position: fixed; top: 23.8%; right: 6%; box-shadow: 4px 4px 10px #888888;">
		<br>
		<center>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:addImages' i.subject.notes.id i.subject.id i.id %}">Add Images</a></strong>
		<br><br>
		<strong><a href="{% url 'brmadmin:userVerification' %}">Verify Users</a></strong>
		<br><br>
		<strong style="padding: 10px;"><a href="{% url 'brmadmin:userBlock' %}">Block Users</a></strong>
		</center>
		<div style="background: #e5e5e4; height: 60%; width: 80%; padding: 2%; margin: 10%; overflow-y: scroll;">
			{% for i in usersList %}
			{% if i.userprofile.verified is False %}
			<h4 style="font-size: 10px;">
				{% if i.userprofile.department == request.user.userprofile.department and i.userprofile.year == request.user.userprofile.year %}
				{{i.username}}
				<form action="{% url 'brmadmin:verify' i.id %}" style="display: inline; float: right;">
					<input type="checkbox">
				</form>
			</h4>
				{% endif %}
			{%endif%}
			{% endfor %}
		</div>
		</div>
	{% else %}
	{% endif %}

{% endblock %}
{% block body %}
	
{% load staticfiles %}

{% if photos %}
	{% if request.user.userprofile.isAdmin %}
	<div style="height: 80%; width: 72%; background: white; box-shadow: 4px 4px 10px #888888; margin-left: 2.5%; border-radius: 20px; overflow: hidden;   padding-top: 2%;">
	{% else %}
	<div style="height: 80%; width: 90%; background: white; box-shadow: 4px 4px 10px #888888; margin-left: 4%; border-radius: 20px; overflow: hidden; padding-left: 9%;	padding-top: 2%;">
	{% endif %}
	<div style=" height: 100%; width: 80%; position: relative; left: 16%; overflow: hidden;">
	{% for c in photos %}
		{% if request.user.userprofile.isAdmin %}
		<div style="height: 160px; width: 20%; position: relative; display: inline-block; overflow: hidden; background: orange;">
		{% else %}
		<div style="height: 200px; width: 20%; position: relative; display: inline-block; overflow: hidden; background: orange;">
		{% endif %}
			<img src="{{c.picture.url}}" style="height: 100%; width: auto; overflow: hidden;" onclick="show(this)" id="ff">
		{% if request.user.userprofile.isAdmin %}
			<form action="{% url 'brmadmin:deleteImages' c.chapter.id c.id %}" method="post" style="position: relative; top: 0%; height: 100%; width: 100%;">
		        {% csrf_token %}
		        <button type="submit" class="btn btn-danger btn-sm" style="position: relative; top: -100%; left: 78%;"> 
		        <span class="glyphicon glyphicon-trash"></span>
		        </button>
	        </form>
        {% endif %}
		</div>
	{% endfor %}
	</div>
	</div>
{% else %}
	<center><h3> Sorry , no notes! </h3></center>
{% endif %}
	<div id="disp" style="position: fixed; top: 0px; left: 0px; height: 100%; width: 100%; background: black;  z-index: 1; visibility: hidden;">
		<span class="glyphicon glyphicon-remove" style="position:fixed; top: 0.5%; right: 1.5%; color: white;" onclick="hide()"> </span>
		<div style="width: 100%; height: 100%; overflow-y: scroll; opacity: none; padding-left: 10%;  z-index: 2;" id="pics">
				{% for c in photos %}
				<img src="{{c.picture.url}}" style="width: 90%; z-index: 2; margin-top: 5px; opacity: 1;">
				{%endfor%}
		</div>
	</div>

{% endblock %}