{% extends 'management/signIn.html' %}

{% block body %}
<center>
<div class="container-fluid" style="position: fixed; top: 12%; left: 34%; height: 50%; width: 30%;">
<div class="row">
	<div class="col-sm-12 col-md-7">
		<div class="panel panel-default">
			<div class="panel-body" style="box-shadow: 4px 4px 10px #888888; position: fixed; top: 12%; left: 34%; height: 80%; background: white; width: 30%;">
				<h3>Register as a new user</h3>
				{% if error %}
				<p style="color: red;">{{error}}</p>
				{% else %}
				<br>
				{% endif %}
				<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
					{% csrf_token %}
					{% include 'management/form-template.html' %}
					<br>
					<div class="form-group">
						<div class="col-sm-offset-2 col-sm-10">
							<input type="submit" name = "Sign up" value = "Submit" style="background: #047de8; color: white; height: 40px; width: 80px; border: 0px solid;">
						</div>
					</div>	
				</form>
			</div>
		</div>
	</div>
</div>
</div>
</center>
{% endblock %}