<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <link rel="stylesheet" media="screen" href="{% static 'management/style.css' %}"/>
    <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ek+Mukta" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon" rel="stylesheet">

    <title>Notes</title>
    <style>
        a{
           color: inherit;
       }
       a:hover{
            color: black;
           text-decoration: none;
       }
    </style>
</head>
<body id="bgd">
<div id="box-container">
    <a href="{% url 'brmadmin:index' %}">
    <span class="logo" style="font-family: 'Coming Soon', cursive;">&nbsp;Notes</span>
    <span class="logo" style="font-family: 'Ek Mukta', sans-serif;">Portal</span>
    </a>
    {% if request.user.is_authenticated %}
    <a href="{% url 'brmadmin:signOut' %}" class="topButton">
    Log Out
    </a>
    {% else %}
    <a href="{% url 'brmadmin:register' %}" class="topButton">
    Sign-Up
    </a>
    {% endif %}
</div>
<br><br><br><br><br><br><br><br>
<div style="position: fixed; top: 20%; left: 38%; background: white; height: 50%; width: 22%; box-shadow: 4px 4px 10px #888888;">
<center>
<br><br>
<span class="logo" style="font-family: 'Coming Soon', cursive;">&nbsp;Notes</span>  
<br><br>
</center>
<center><div style="color: red;"> 
    {{error}}
</div>
<div id="loginForm">
    <form class = "col s12" action = "{% url 'brmadmin:signIn' %}" method = "post">
    {% csrf_token %}
    <input type="text" class="validate" name = "username" required="" placeholder="&nbsp;Username" style="border: 1px solid black; height: 35px; 
    width: 200px; border-radius: 3px;">
    <br><br>
    <input type="password" class="validate" name = "password" required="" placeholder="&nbsp;Password" style="border: 1px solid black; height: 35px; 
    width: 200px; border-radius: 3px;">
    <br><br>
    <input type="submit" name = "Sign up" value = "Sign-In" style="background: #047de8; color: white; height: 40px; width: 80px; border: 0px solid;">
    <br><br>
    </form>
    Not registered? Get registered. <a href="{% url 'brmadmin:register' %}" style="color: #168589;">SignUp</a>
</div>
</center>
</div>

</body>
</html>