{% extends 'management/base.html' %}



{% block addLink %}
	<strong><a href="{% url 'brmadmin:addCourse' %}">Add Course</a></strong>
{% endblock %}

{% block body %}
	{% load staticfiles %}
	{% if request.user.userprofile.verified %}
		{% if request.user.is_superuser%}
			<div style="height: 80%; width: 100%;">
			{% for i in object_list %}
			<a href="{% url 'brmadmin:detail' i.id %}">
			<div class="placard" style="height: 23%; width: 21%; position: relative; left: 8%;">
			<center><img src="{% static 'management/images/folder.png' %}" style="height: 70%; width: 84%; padding: 15px;">
			<h3>{{ i.branch }} - {{ i.year }}</h3>
			{% if request.user.userprofile.isAdmin %}
			<form action="{% url 'brmadmin:deleteCourse' i.id %}" method="post" style="">
	        {% csrf_token %}
	        <input type="hidden" name="album_id" value="{{ album.id }}"/>
	        <button type="submit" class="btn btn-default btn-sm">
	        <span class="glyphicon glyphicon-trash"></span>
	        </button>
	        </form>
	    	{% endif %}
			</center>
			</div>
			</a>
			{% endfor %}
		{% else %}
			<center>
				<h3 style="color: red;"> You are not authorised! </h3>
			</center>
		{% endif %}
	{% else %}
	<center>
		<h3 style="color: red;"> You are yet to be verified by the admin! </h3>
	</center>
	{% endif %}
{% endblock %}