{% extends 'management/base.html' %}

{% block script %}
	$(document).ready(function() {
   $("input[id='but']").click(function(){
      $(this).css('background-color','#e81717');
      $(this).prop('value', 'Blocking...');
    });
});
{% endblock %}

{% block adminPanel %}
{% endblock %}

{% block body %}
{% if request.user.userprofile.isAdmin %}
<center>
<h2 style="font-family: 'Ek Mukta', sans-serif; font-size: 34px; display: inline;">User Block |</h2> <h2 style="display: inline;"><a href="{% url 'brmadmin:userVerification' %}" style="color: #99928b; font-size: 28px;" 
">User Verification</a></h2>
<!-- <form action="{% url 'brmadmin:addSubject' %}">
<input type="submit" value="Add Subject" style="background: #047de8; color: white; height: 40px; width: 100px; border: 0px solid; display: inline-block;">
</form>	 -->
<br><br><br><br><br>
<table class="table table-striped" style="height: 30%; width: 50%; overflow-y: scroll;">
 <thead>
 	<tr>
 		<th>
 			Username
 		</th>
 		<th>
 			E-mail
 		</th>
 		<th>
 			Verify
 		</th>
 	</tr>
 </thead>
 <tbody>
{% for i in users %}
			<tr>
			<td>{{i.user.username}}</td>
			<td>{{i.user.email}}</td>
			<td><form action="{% url 'brmadmin:block' i.user.id %}" method="post">
			{% csrf_token %}
			<input type="submit" id="but" value = "Block"  style="background: #9dc91a; color: white; height: 30px; width: 100px; border: 0px solid; ">	
			</form></td>
			</tr>
{% endfor %}
 </tbody>
 </table>
</center>
{% else %}
<h2 style="color: red;">You are not authorised</h2>
{% endif %}
{% endblock %}


